RewriteEngine On
Options -MultiViews

# Externally redirect direct requests for .php to the extensionless URL
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
RewriteRule ^ %1 [R=301,L]

# Internally map extensionless URLs to their .php equivalent
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*?)/?$ $1.php [NC,L]
